body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*header*/
header{
    padding: 20px;
}
header li a{
    color: gray;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
header li{
    text-align: center;
    margin: 0 10px;
}
.fa-circle{
    color: white;
    font-size: 0.6em;

}
header li .active{
    color: #ff2cc8 !important;
}
.active + .fa-circle{
    color: #ff2cc8;

}
header ul{
    margin: 0 auto;

}
.logo{
    width: 100%;
    max-width: 200px;
    padding-left: 20px;
}
/*main*/
main{
    background-color: #fff0fb;
}
.main{
    padding: 20px;
}
h1{
    font-size: 1.8em;
    text-align: center;
    padding-bottom: 25px;
}
h2{
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 25px;
}
main p{
    color: gray;
}

/*footer*/
footer{
    clear: both;
    padding: 20px;
    align-content: center;

}
.footer{
    background-color: #fff0fb;
}
.footer p{
    align-content: center;
    width: 100%;
    height: 100%;
    padding: 40px;    
    margin: 0px;
    text-align: center;
}
footer .logo-f{
    align-content: center;
    text-align: center;
    height: 100%;
}

footer li a{
    margin: 0px;
    color: rgb(42, 42, 42); 
}
footer ul{
    padding: 20px;
}
footer form{
    padding: 25px 0;
}
h3{
    font-size: 1.2em;
}
.input-newsletter{
    max-width: 300px;
    display: inline;
}
#bt-newsletter{

    border-radius: 5px;
    height: 40px;
    border-style: none;   
    margin: 0px; 
}
/*Index*/
.calendario{
  margin: 0;
  padding: 0;
}
/*  Events display */
.events-container {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    float: left;
    margin: 0px auto;
    display: inline-block;
    padding: 0px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0; }
    @media (max-width: 767.98px) {
      .events-container {
        width: 100%;
        height: auto; } }
  
  .events-container:after {
    clear: both; }
  
  .event-card {
    padding: 20px 10px;
    max-width: 100%;
    display: block;
    background: #ff2cc8;
    border: none !important;
    margin: 20px;
    color: #fff;
    margin-left: 12px;
    border-radius: 4px;
    margin: 0; }
  
  .event-count, .event-name, .event-cancelled {
    display: inline;
    padding: 0 10px;
    font-size: 1rem; }
  
  .event-count {
    color: #ff2cc8;
    text-align: right; }
  
  .event-name {
    padding-right: 0;
    text-align: left; }
  
  .event-cancelled {
    color: #ff2cc8;
    text-align: right; }

/*  Calendar wrapper */
.calendar-container {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background: #fff;
    font: 13px Helvetica, Arial, san-serif;
    display: inline-block;
    padding: 15px;
    float: right; }
    @media (max-width: 991.98px) {
      .calendar-container {
        padding: 0; } }
    @media (max-width: 767.98px) {
      .calendar-container {
        padding: 0;
        width: 100%; } }
  
  .calendar-container:after {
    clear: both; }
  
  .calendar {
    width: 100%;
    padding: 0; }
  
  /* Calendar Header */
  .year-header {
    background: #fff;
    height: 40px;
    text-align: center;
    position: relative;
    color: #fff;
    border-top-left-radius: 3px;
    margin-top: 20px; }
  
  .year-header span {
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
    color: #000; }
  
  .left-button, .right-button {
    cursor: pointer;
    width: 28px;
    text-align: center;
    position: absolute;
    color: #cccccc !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-size: 14px !important; }
    @media (prefers-reduced-motion: reduce) {
      .left-button, .right-button {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    .left-button:hover, .right-button:hover {
      color: #ff2cc8 !important; }
  
  .left-button {
    left: 0; }
  
  .right-button {
    right: 0;
    top: 0; }
  
  /* Buttons */
  .button {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    font-size: 1rem;
    border-radius: 25px;
    padding: 0.65rem 1.9rem;
    -webkit-transition: .2s ease all;
    -o-transition: .2s ease all;
    transition: .2s ease all;
    color: white;
    border: none;
    background: #ff2cc8; }
    .button.button-white {
      background: #fff;
      color: #000; }
    .button:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none; }
      
  /* Days/months tables */
  .days-table, .dates-table, .months-table {
    border-collapse: separate;
    text-align: center;
    max-width: 100%;}
  
  .day {
    height: 26px;
    width: 26px;
    max-width: 100%;
    padding: 0 5px;
    line-height: 26px;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-size: 14px;
    color: #000; }
  
  .month {
    cursor: default;
    height: 26px;
    width: 26px;
    max-width: 100%;
    padding: 0 1px;
    padding-top: 10px;
    line-height: 26px;
    text-transform: uppercase;
    font-size: 11px;
    color: #cccccc;
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms; }
    @media (max-width: 991.98px) {
      .month {
        font-size: 8px; } }
    @media (max-width: 767.98px) {
      .month {
        font-size: 10.5px; } }
  
  .active-month {
    font-weight: 700;
    color: #ff2cc8; }
  
  .month:hover {
    color: #ff2cc8; }
  
  /*  Dates table */
  .table-date {
    cursor: default;
    color: #2b2b2b;
    height: 26px;
    width: 26px;
    font-size: 15px;
    padding: 3px;
    line-height: 26px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid transparent;
    -webkit-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    position: relative;
    z-index: 0; }
    .table-date:before {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      content: '';
      margin: 0 auto;
      border-radius: 50%;
      z-index: -1; }
  
  .event-date {
    border-color: #ff2cc8;
    background: #fff0fb;
    width: 10px;
    height: 10px;
    border-radius: 100%;
   }
    .event-date:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      content: '';
      background: #ffc107;
      border: 1px solid white; }
  
  .active-date {
    color: #fff; }
    .active-date:before {
      background: #ff2cc8; }
  
  .event-date.active-date {
    background: transparent;
    border: none; }
  
.link-calendar{
  color: white;
}
#bt-calendario{
    border-radius: 5px;
    border-style: none;
    margin: 25px;
    padding: 15px;
    background-color: #ff2cc8 ;
    color: white;
}
.bt-ajuda{
    width: 130px;
    max-width: 100%;
}
.ajuda{
    align-self: end;
    align-content: flex-end;
    text-align: right;
    padding: 20px;
}
/*Contatos*/
.main-contatos{
    padding: 40px;
    align-content: center;
    max-width: 80%;
    margin: 0 auto;
}
.main-contatos p{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.contatos{
    max-width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    color: gray;
}
.contatos h1 {
    color: black;
}
.contatos > div{
    margin: 0px;
}
.contatos-ext{
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.contatos ul{
    margin: 0 auto;
    width:fit-content;
}
.contatos li{
    margin: 10px;
}
.contatos-ext{
    border-right: 2px solid #ff2cc8;

}
@media (max-width: 768px){
    .contatos-ext{
        border-right: none;
        border-bottom: 2px solid #ff2cc8;
    }
}
/*Depoimentos*/
.carousel section{
    max-width: 80%;
}
.carousel-item img{
    padding: 20px;
    border-radius: 50%;
    max-width: 90%;
}
.carousel-item{
    padding: 30px 10%;
}
.carousel-item h3{
    padding: 20px;
    text-align: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}
/*Mapa das Delegacias*/
.main-mapa{
    text-align: center;
    padding: 40px;
    align-content: center;
}
.main-mapa form {
    margin: 0 auto; 
    width:250px;
    margin-bottom: 20px;
}
#map {
    border-style: solid;
  height: 400px;
  /* The height is 400 pixels */
  width: 900px;
  /* The width is the width of the web page */
  max-width: 100%;
  margin: 0 auto;
}
/*Medidas de protecao*/
.medidas-h3 {
    margin-top: 5rem;
}
.medidas-image {
    height: 12rem;
}

.main-medidas{
    padding-top: 40px;
    align-content: center;
    max-width: 80%;
    margin: 0 auto;
}
.row-medidas{
    padding: 40px;
    align-content: center;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}
.row-medidas h3{
    margin: 20px;
}

.row-medidas img {
    display: block;
    max-width: 100%;
}
.main-medidas p:first-of-type {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
/*Denuncia*/
.main-denuncia div{
    padding: 60px;
}
.chat{
    max-width: 100%;
}