body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*header*/
header{
    padding: 20px;
}
header li a{
    color: gray;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
header li{
    text-align: center;
    margin: 0 10px;
}
.fa-circle{
    color: white;
    font-size: 0.6em;

}
header li .active{
    color: #ff2cc8 !important;
}
.active + .fa-circle{
    color: #ff2cc8;

}
header ul{
    margin: 0 auto;

}
.logo{
    width: 100%;
    max-width: 200px;
    padding-left: 20px;
}
/*main*/
main{
    background-color: #fff0fb;
}
.main{
    padding: 40px;
}
h1{
    font-size: 1.8em;
    text-align: center;
    padding-bottom: 25px;
}
h2{
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 25px;
}
main p{
    color: gray;
}

/*footer*/
footer{
    clear: both;
    padding: 20px;
    align-content: center;

}
.footer{
    background-color: #fff0fb;
}
.footer p{
    align-content: center;
    width: 100%;
    height: 100%;
    padding: 40px;    
    margin: 0px;
    text-align: center;
}
footer .logo-f{
    align-content: center;
    text-align: center;
    height: 100%;
}

footer li a{
    margin: 0px;
    color: rgb(42, 42, 42); 
}
footer ul{
    padding: 20px;
}
footer form{
    padding: 25px 0;
}
h3{
    font-size: 1.2em;
}
.input-newsletter{
    max-width: 300px;
    display: inline;
}
#bt-newsletter{

    border-radius: 5px;
    height: 40px;
    border-style: none;   
    margin: 0px; 
}
/*Index*/
.calendario{
    text-align: center;
    align-content: center;

}
.calendario table{
    margin: 0 auto;
}
#bt-calendario{
    border-radius: 5px;
    border-style: none;
    margin: 25px;
    padding: 15px;
    background-color: #ff2cc8 ;
    color: white;
}
.bt-ajuda{
    width: 130px;
    max-width: 100%;
}
.ajuda{
    align-self: end;
    align-content: flex-end;
    text-align: right;
    padding: 20px;
}
/*Contatos*/
.main-contatos{
    padding: 40px;
    align-content: center;
    max-width: 80%;
    margin: 0 auto;
}
.main-contatos p{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.contatos{
    max-width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    color: gray;
}
.contatos h1 {
    color: black;
}
.contatos > div{
    margin: 0px;
}
.contatos-ext{
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.contatos ul{
    margin: 0 auto;
    width:fit-content;
}
.contatos li{
    margin: 10px;
}
.contatos-ext{
    border-right: 2px solid #ff2cc8;

}
@media (max-width: 768px){
    .contatos-ext{
        border-right: none;
        border-bottom: 2px solid #ff2cc8;
    }
}
/*Depoimentos*/
.carousel section{
    max-width: 80%;
}
.carousel-item img{
    padding: 20px;
    border-radius: 50%;
    max-width: 90%;
}
.carousel-item{
    padding: 30px 10%;
}
.carousel-item h3{
    padding: 20px;
    text-align: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}
/*Mapa das Delegacias*/
.main-mapa{
    text-align: center;
    padding: 40px;
    align-content: center;
}
.main-mapa form {
    margin: 0 auto; 
    width:250px;
    margin-bottom: 20px;
}
#map {
    border-style: solid;
  height: 400px;
  /* The height is 400 pixels */
  width: 900px;
  /* The width is the width of the web page */
  max-width: 100%;
  margin: 0 auto;
}
/*Medidas de protecao*/
.main-medidas{
    padding-top: 40px;
    align-content: center;
    max-width: 80%;
    margin: 0 auto;
}
.row-medidas{
    padding: 40px;
    align-content: center;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}
.row-medidas h3{
    margin: 20px;
}

.row-medidas img {
    display: block;
    max-width: 100%;
}
.main-medidas p:first-of-type {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
/*Denuncia*/
.main-denuncia div{
    padding: 60px;
}
.chat{
    max-width: 100%;
}

